@charset "UTF-8";
h1{
    border: 5px dashed red;
    padding: 30px;
    margin: 30px 0px ;
    text-align: center;
}
.destaque{
    color: red;
    font-weight: bolder;
}
footer{
    background-color: #555555;
    color: white;
    padding: 20px;
}
.foo{
    color: white;
}